<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="MongoAppender" type="Log4Mongo.MongoAppender, Log4Mongo">
			<connectionString value="mongodb://localhost" />
			<field>
				<name value="timestamp" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</field>
			<field>
				<name value="threadContextProperty" />
				<layout type="log4net.Layout.RawPropertyLayout">
					<key value="threadContextProperty" />
				</layout>
			</field>
			<field>
				<name value="globalContextProperty" />
				<layout type="log4net.Layout.RawPropertyLayout">
					<key value="globalContextProperty" />
				</layout>
			</field>
			<field>
				<name value="numberProperty" />
				<layout type="log4net.Layout.RawPropertyLayout">
					<key value="numberProperty" />
				</layout>
			</field>
			<field>
				<name value="dateProperty" />
				<layout type="log4net.Layout.RawPropertyLayout">
					<key value="dateProperty" />
				</layout>
			</field>
			<!--<field>
				<name value="threadName" />
				<layout type="log4net.Layout.RawPropertyLayout" key="ThreadName" />
			</field>-->
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="MongoAppender" />
		</root>
	</log4net>
</configuration>